body {
  background: #3399ff;
  font-family: "Oswald", "Futura", sans-serif;
}

#wrapper {
  margin-top: 10% !important;
}

#content {
  background: #ffff99;
  padding: 25px;
}

#content > h2 {
  font-size: 18px;
  text-align: center;
  padding-top: 0;
}


.todo-completed {
  text-decoration: line-through;
  background: rgba(149, 165, 166, 0.3);
}

footer {
  margin-top: 20px;
  color: white;
}

.bi.bi-trash {
    vertical-align: -1.5px;
}